body.node-type-documentation {

    #content {
        padding-top: 0;

        #page-title {
            display: none;
        }

        .content-wrap >.container {
            padding: 0;
        }

        .region-content {
            display: grid;
            grid-template-columns: 282px auto;

            @media screen and (max-width:700px) {
                grid-template-columns: 1fr;
                grid-template-rows: auto auto;
            }
            
            .block-block:first-child {
                background-color: $dark;
                padding: 40px 25px 0 25px;

                @media screen and (max-width:700px) {
                    padding: 25px;
                }

                #side-menu-list {

                    max-width: 230px;

                    @media screen and (max-width:700px) {
                        max-width: calc(100vw - 70px);
                    }
        
                    &.affix-top {
                        position: absolute;
                    }
        
                    &.affix {
                        top: 0;
                    }
        
                    a {
                        display: block;
                        position: relative;
                        font-weight: 600;
                        color: #989797;
                        transition: all .3s;
                        
                        &:hover {
                            color: $primary;
                            text-decoration: none;
                        }
                    }
                    
                    a.section {
                        
                        font-size: 20px;
                        letter-spacing: 0.55px;
                        padding: 5px 0 10px 25px;
                        display: flex;
                        align-items: flex-start;
                        
                        &:before {
                            content: '';
                            width: 15px;
                            height: 15px;
                            position: absolute;
                            left: 0;
                            top: 8px;
                            @include tile(15px);
                            filter: invert(64%) sepia(0%) saturate(0%) hue-rotate(218deg) brightness(97%) contrast(79%);
                        }
        
                        &:hover:before {
                            filter: invert(45%) sepia(100%) saturate(1793%) hue-rotate(347deg) brightness(97%) contrast(95%);
                        }
                    }
        
                    a.sub-section {
                        font-size: 12px;
                        letter-spacing: 0.38px;
                        padding-bottom: 5px;
                        margin-left: 25px;
                    }

                    @media screen and (max-width:700px) { 
                        &.affix,
                        &.affix-top {
                            position: relative;
                        }
                    }
                }
            }

            .node {
                padding: 48px;

                @media screen and (max-width: 500px) {
                    padding: 25px;
                }

                .page-title {
                    font-family: $headingFontFamily;
                    font-weight: $headingFontWeight;
                    font-size: 36px;
                    display: flex;
                    flex-direction: column;
                    line-height: normal;
    
                    &:after {
                        content:'';
                        width: 227px;
                        height: 3px;
                        margin-top: 20px;
                        background-color: $primary;
                    }
                }

                .intro {
                    margin-bottom: 33px;
        
                    p {
                        max-width: 680px;
                    }
        
                    .steps {
                        display: flex;
                        flex-direction: row-reverse;
                        justify-content: space-between;
                        margin-top: 40px;
        
                        img {
                            max-width: 533px;
                            height: 100%;
                            margin-left: 12px;

                            @media screen and (max-width:1200px){
                                width: 60%;
                            }
                        }
        
                        ul {
                            list-style: none;
                            margin-bottom: 0;
                            margin-left: 15px;
                            padding-left: 24px;
                            position: relative;
        
                            &:before {
                                content: '';
                                width: 3px;
                                height: 90%;
                                background: $medium;
                                position: absolute;
                                left: 0;
                            }
        
                            li {
                                max-width: 404px;
                                font-size: 15px;
                                font-family: $defaultFontFamily;
                                letter-spacing: 1.5px;
                                padding-bottom: 20px;
                                margin-bottom: 20px;
                                border-bottom: 1px solid $transparency;
                                
                                strong {
                                    color: $primary;
                                }
        
                                &:before {
                                    content: '';
                                    width: 14px;
                                    height: 14px;
                                    color: $medium;
                                    border-radius: 10px;
                                    border: 4px solid;
                                    position: absolute;
                                    left: -5px;
                                    background: $white;
                                }
        
                                &::marker{
                                    display: none;
                                }
        
                                &:last-child {
                                    margin-bottom: 0;
                                    border-bottom: 0;
                                }
                            }
                        }

                        @media screen and (max-width: 1000px) {
                            flex-direction: column;

                            img {
                                width: 100%;
                                margin: 0 0 40px 0;
                            }

                            ul li {
                                max-width: 100%;
                            }
                        }
                    }
                }

                h2 {
                    display: flex;
                    flex-direction: column;
                    color: $defaultFontColor;
                    padding-top: 20px;
        
                    &:after {
                        content: '';
                        width: 62px;
                        height: 2px;
                        margin-top: 10px;
                        background-color: $primary;
                    }
                }
        
                p {
                    font-size: 13px;
                    a {
                        color: $darker;
                        text-decoration: underline;
                    }
        
                    &.bullet a {
                        color: $primary;
                        font-weight: 600;
                        text-decoration: underline;
                    }
                }
        
                .sidebar {
                    margin: 0;
                    width: 354px;
                    max-width: 45%;
                    border: 0;
                    padding: 0;
        
                    &.right {
                        float: right;
                        margin-left: 60px;
                        margin-bottom: 60px;
                    }
        
                    .card {
                        padding: 62px 32px 54px 32px;
                        border-radius: 29px;
                        align-items: center;
                    }
        
                    .postman {
                        &__logo {
                            max-width: 209px;
                            margin-bottom: 23px;
                            grid-area: postman_logo;
                        }
        
                        &__text {
                            text-align: center;
                            padding-bottom: 30px;
                            margin-bottom: 25px;
                            border-bottom: 1px solid $transparency;
                            grid-area: postman_text;
        
                            p {
                                font-size: 15px;
                                letter-spacing: 1.5px;
                                line-height: 30px;
        
                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }
        
                        &__action {
                            list-style: none;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-left: 0;
                            margin-bottom: 0;
                            grid-area: postman_action;
                            
                            li {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                font-size: 15px;
                                font-family: $defaultFontFamily;
                                letter-spacing: 1.13px;
                                margin-bottom: 35px;
        
                                
                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                            
                            .fas {
                                font-size: 30px;
                                margin-bottom: 5px;
                            }
        
                            .button {
                                width: 216px;
                                margin-top: 12px;
                            }
                        }

                        @media screen and (max-width:1000px) {
                            .postman {
                                &__logo {
                                    width: 100%;
                                }
                            }

                            .button {
                                width: fit-content;
                            }
                        }
                    }

                    @media screen and (max-width:1000px) {
                        max-width: 100%;
                        width: 100%;

                        &.right {
                            float: none;
                            margin: 0;
                        }

                        .card {
                            max-width: 100%;
                            width: 100%;
                            margin-bottom: 40px;
                        }

                        .postman {
                            display: grid;
                            grid-template-columns: 1fr 2fr; 
                            grid-template-areas: 
                                "postman_logo postman_action"
                                "postman_text postman_action";
                            row-gap: 20px;
                            column-gap: 30px;
                            
                            &__logo {
                                margin-left: auto;
                                margin-right: auto;
                                margin-bottom: 0;
                            }

                            &__text {
                                margin: 0;
                                padding: 0;
                                border: 0;
                            }
                        }
                    }

                    @media screen and (max-width:800px) {
                        .postman {
                            grid-template-columns: 1fr; 
                            grid-template-areas: 
                                "postman_logo"
                                "postman_text"
                                "postman_action";

                            .button {
                                width: 216px;
                            }
                        }
                    }
        
                }

                @media screen and (max-width:800) {
                    white-space: break-spaces;
                }

                pre {
                    white-space: normal;

                    code {
                        white-space: break-spaces;
                    }
                }

                .table {
                    td {
                        white-space: break-spaces;
                    }

                    @media screen and (max-width:1000px) {
                        td, td * {
                            line-break: anywhere;
                        }
                    }
                }

            }

        }
    }

}