.card {
    padding: 20px;
    border-radius: 20px;
    background-color: $white;
    box-shadow: $shadow;

    .icon {
        display: block;
        margin: 0 auto 14px auto;
    }

    h3 {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto 33px auto;

        &:after {
            content: '';
            width: 87px;
            height: 3px;
            position: relative;
            bottom: -57px;
            background-color: $primary;
        }
    }

    p {
        text-align: center;
        font-size: 18px;
        letter-spacing: 0.18px;
        color: $medium;
    }
}