body.front #wrapper {

    #header {
        position: absolute;
        z-index: 10;
        
        > .container {
            background-color: unset;
        }
    }

    #content {

        .page {

            &__header p {
                max-width: 620px;
            }
        }

        .card-documentation .card__content p {
            max-width: 290px;
        }
    }
}