body.front #wrapper {

    #header {
        position: absolute;
        z-index: 10;
        
        > .container {
            background-color: unset;
        }
    }

    #slider {
        height: 776px;
        background-image: url(/api-portal/sites/default/files/home-hero.png);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: auto 776px;

        .region-slider {
            height: 100%;
            background: $darkTransparency;

            .block {
                position: absolute;
                bottom: 96px;
            }
        }

        h2 {
            width: 610px;
        }
    }

    #content {

        .page {

            &__header p {
                width: 620px;
            }
        }

        .card-documentation .card__content p {
            width: 290px;
        }
    }
}