* {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	outline: 0;
    font-family: $defaultFontFamily;
    font-size: $defaultFontSize;
	color: $defaultFontColor;
}

body {
	background: $primary;
}