body {
    background: none;
}

.stretched #wrapper {
    box-shadow: none;
    max-width: $desktopWidth;
    width: 100% !important;
}

.stretched #header, .stretched .content-wrap {
    box-shadow: none;
}

#wrapper {
    .container {
        max-width: 100%;
        width: 100%;
    
        @media (min-width: 1200px) {
            max-width: $desktopWidth;
        }
    }

    #top-bar {
        display: none;
    }

}

@import "header";
@import "slider";
@import "content";
@import "footer";