@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap');

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
	background: none;
	color: #011e41;
	overflow-x: hidden;
}

.content-wrap { padding: 0 }

#wrapper { box-shadow: none; }

.page-user .profile .field-item { line-height: 1 }

ul li { font-family: 'Open Sans', sans-serif }


/************** Header **************/

/* MULTI LANGUAGE */
.region-top-left h2 {
    display: none;
}

.region-top-left .language-switcher-locale-url li a {
    text-shadow: none;
    color: #011e41 !important;
    margin-right: 10px;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px !important;
}

.region-top-left .language-switcher-locale-url ul li a:hover {
    color: #011e41 !important;
}

hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    height: 0;
    margin: 20px 0;
}


/* ----------------------------------------------------------------
   Typography
-----------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
    line-height: 1.25;
    font-family: 'Poppins', serif;
}

a {
    color: #00aeef;
	text-decoration: none;
	transition: color .3s ease;
}

a:hover { color: #204986; }

a:visited { color: #742e98; }

a.link, a.link:visited { color: #5a646e}

a.link:hover { color: #017ceb }

a.link * { color: inherit }

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
}

h1 { font-size: 46px }
h2 { font-size: 38px }
h3 { font-size: 32px }
h4 { font-size: 25px }
h5 { font-size: 20px }
h6 { font-size: 18px }


/* Tamanhos de texto */

.text-400 { font-weight: 400 }
.text-600 { font-weight: 400 }
.text-700 { font-weight: 700 }


.inline-list li {
    display: inline;
    float: left;
}

.simple-link-list li + li {
    margin-top: 10px;
}

strong {
    font-weight: bold;
}


.content-warp {
    padding: 0;
}


.container-inline {
    display: none;
}

.breadcrumb {
    display: none;
}


/* Typography */

h1, h2, h3, h4 {
    font-weight: 700;
}


a:hover {
    text-decoration: none;
}




/*.stretched #page-title {*/
/*padding: 10px 0; */
/*}*/


/* Regions */

.region-top-right a {
    color:  #4583d8 !important;
}

.region-top-right .content p {
    font-size: 12px;
    line-height: 46px;
    margin-right: 12px;
    text-transform: uppercase;
}

.region-top-right p a:hover {
    text-decoration: underline;
}

.region-top-right .login-with a,
.region-top-right .login-with span {
    color: #fff;
    font-size: 12px;
    line-height: 37px;
    margin-bottom: 0;
}

.region-top-right .login-with a:hover{
    text-decoration: none;
}


.region-top-right .login-with a i {
    font-size: 18px;
}

.region.region-top-left h1,
.region.region-top-left h2,
.region.region-top-left h4,
.region.region-top-left h3  {
    line-height: 39px;
    font-size: 14px;
}


/* ----------------------------------------------------------------
   Tabs
-----------------------------------------------------------------*/


.tabs { margin: 45px 0 10px }

@media only screen and (min-width: 980px) {
	.tabs { margin: 10px 0 }
}

.tabs:empty { margin: 0 }

.nav-tabs {
    border-bottom: 0px solid #ddd;
}

.nav-tabs > li > a {
    line-height: 45px;
    font-size: 16px;
    text-transform: none;
    padding: 5px 27px;
    border: 0;
    color: #00BCD4;
    font-family: 'Open Sans', sans-serif;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    border-color: #fff;
    border-bottom: 3px solid;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #fff;
    border-bottom: 3px solid;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
    color: #00a1b8;
    background-color: #ffffff;
    border: 0px solid #ddd;
    border-bottom: 3px solid;

}


.nav-tabs > .active > a:after {
    display: none;
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #00a1b8 transparent transparent transparent;
    position: absolute;
    bottom: -7px;
    left: 47%;
}



/* ----------------------------------------------------------------
   Lateral menu
-----------------------------------------------------------------*/


.side-tabs ul.tabs li {
    float: none;
    border: 0;
    border-top: none;
    border-right: none;
    height: 64px;
    line-height: 64px;
    margin-top: 0;
    background: #04AED0;
    text-shadow: none;
    border-right: 0;
    border-left: 0;
}



.side-tabs ul.tabs {
    float: left;
    width: 240px;
    height: auto;
    border-bottom: 0;
    padding: 20px 0;
    margin-right: 40px;
    border-right: 0;
    border-right: 0;
    border-left: 0;

}

.side-tabs ul.tabs li:first-child {
    /*padding: 30px 0 0 0;*/
}

.tab_widget ul.tabs li.active a {
    color: #fff !important;
    text-shadow: none;
    border: 0;
}


.tab_widget ul.tabs li.active {
    /*border: 0; */
    /* border-left-color: #57B3DF !important; */
    background: #0494b6 !important;
    color: #fff !important;
    text-shadow: none;
    border-left: 0;
    border-bottom: 0;
}


.side-tabs ul.tabs li.active,
.side-tabs ul.tabs li.active a:hover {
    /*border-bottom: 0;*/
    /*border-right: 0;*/
    /*border-left: 0;*/
    /*border: 0;*/
}

.tab_widget ul.tabs li.active a:hover {
    background: #0494b6;
    border: 0;
}


.tab_widget ul.tabs li a:hover {
    background: #0494b6;
}

.tab_widget ul.tabs li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    display: block;
    padding: 0 0 0 20px;
    outline: none;
    font-weight: 400;
    text-shadow: none;
    font-family: 'Open Sans', sans-serif;
    border: 0;
    border-left: 0px solid #F9F9F9;
    border-right: 0;
}


.side-tabs .tab_container p {
    font-size: 15px;
}





/*********************************************************************/
/* App Gallery */
/*********************************************************************/

#app-gallery .app-gallery-item {
    border: 1px solid #ccc;
    padding: 16px;
}

#app-gallery .app-gallery-item img{
    width: 140px !important;
}

#app-gallery .app-gallery-item h2 {
    padding: 0;
}

#app-gallery .app-gallery-item h5 {
    font-weight: 700;
}

#app-gallery .app-gallery-item i {
    color: #EE7B00;
}

#app-gallery .app-gallery-item p {
    margin-bottom: 0 !important;
}

#app-gallery .app-gallery-item p:nth-child(even) {
    height: 91px;
}

#app-gallery .app-gallery-item p small {
    font-size: 13px;
    font-weight: 700;
}

#app-gallery .app-gallery-item .btn {
    padding: 9px 29px !important;
    border-radius: 5px;
    background: rgba(63, 68, 74, 0.67);
    text-transform: uppercase;
}

#app-gallery .app-gallery-item .btn .btn-primary {
}

#app-gallery  .app-gallery-item .btn:hover {
    background: rgba(63, 68, 74, 1);
}

#app-gallery .col_one_fifth {
    margin-right: 2.5%;
    width: 18%;
}


/*********************************************************************/
/* Theme Colors */
/*********************************************************************/


a {
    color: #651366;
}

.text-primary {
    color: rgba(101, 15, 118, 0.72);
}

.text-secondary {
    color: #F38630;
}

.text-muted {
    color: #8c8c8c;
}

.text-negative {
    color: #fff;
}

.text-danger {
    color: #8c0905;
}



/* Regions */

.region-top-right .login-with a:hover,
.region-top-right .login-with a:hover i {
    color: #fff;
}

.region-top-right .login-with a i {
    color: #c5c4c1;
}

.region.region-top-left h1,
.region.region-top-left h2,
.region.region-top-left h4,
.region.region-top-left h3  {
    color: #011e41 !important;
}


/* GoToTop */

#gotoTop {
	border-radius: 50%;
	border: none;
	background-color: #f26522;
	transition: background-color .3s !important;
}

#gotoTop:hover {
    background: #f69262;
}


/* ------ */
/* Header */
/* ------ */

.stretched #header {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    height: 80px;
    width: 100%;
    border: none;
    margin-bottom: 0px;
    background: #f26522;
}

#header .container:after { content: none; }

#header .container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

@media only screen and (min-width: 980px) {
	#header .container { flex-wrap: nowrap }
	#main-menu {
		display: flex;
		white-space: nowrap;
	}
}


/* ----------------------------------------- */
/* Main Menu - Primary Menu (menu principal) */
/* ----------------------------------------- */

#primary-menu ul li a { font-family: 'Open Sans', sans-serif }

#primary-menu {
	float: right;
	height: auto;
	max-width: initial;
	margin: 0;
}

/* primeira camada */

#primary-menu > ul > li {
	background: none;
	background-color: transparent !important;
	margin: 20px 0 0;
	height: 40px;
}

#primary-menu > ul > li > a {
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	font-weight: 400;
	text-transform: none;
	margin: 0;
	padding: 0 15px;
	color: #fff !important;
	background-color: transparent;
	border: none;
	text-shadow: none !important;
	text-decoration: none;
}

#primary-menu > ul > li.active-trail > a {
	color: #fff !important;
	background-color: transparent;
	font-weight: 700;
}

#primary-menu > ul > li:hover > a {
	color: #fff !important;
	background-color: transparent;
}

#primary-menu ul li a div {
	background-image: none !important;
	padding-right: 0 !important;
}

#primary-menu > ul > li > a.has-dropdown > div::after {
    content: "\f078";
    font-family: FontAwesome;
	font-size: 10px;
	position: relative;
	top: 0;
	right: 0;
	margin-left: 10px;
}


/* segunda camada ou + */

#primary-menu ul ul {
	width: 240px;
	top: 60px;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, .1);
	overflow: unset !important;
}

#primary-menu ul ul li {
	margin: 0;
	background-color: transparent;
	position: unset;
}

#primary-menu ul ul li > a {
	position: relative;
	height: 56px;
	line-height: 56px;
	color: #2d3e5b !important;
	background-color: #fff !important;
	font-size: 16px;
	font-weight: 400;
	text-shadow: none !important;
	text-decoration: none;
	transition: color .3s, background-color .3s;
}

#primary-menu ul ul li:hover > a {
	color: #2d3e5b !important;
	background-color: #f5f5f5 !important;
	font-weight: 400;
}

#primary-menu ul ul li > a.has-dropdown > div::after {
    content: "\f0da";
    font-family: FontAwesome;
	position: absolute;
	top: 0;
	right: 14px;
}


/* Terceira camada (ul ul ul) */

#primary-menu ul ul ul { left: 240px !important }


/* Menu buttons (btn-menu) */

#primary-menu > ul > li > a.btn-menu {
	margin: 0 15px;
	color: #fff !important;
	background-color: #041e50;
	border: solid 1px #7a8a9c;
}

#primary-menu > ul > li > a.btn-menu:hover {
	color: #fff !important;
	background-color: #7a8a9c;
	border-color: #7a8a9c;
}

#primary-menu > ul > li > a.btn-menu-secondary {
	margin: 0 15px;
	color: #041e50 !important;
	background-color: transparent;
	border: solid 1px #041e50;
}

#primary-menu > ul > li > a.btn-menu-secondary:hover {
	color: #fff !important;
	background-color: #7a8a9c;
	border-color: #7a8a9c;
}


/* Select menu (mobile) */

.select-menu {
	margin: 0;
	position: absolute;
	z-index: 1;
}


/* Forms */

.controls input,
.controls textarea,
.controls select {
    border-radius: 3px;
    padding: 14px 22px;
    font-size: 14px;
    border: 1px solid #ddd;
}


.controls #edit-search-block-form--2 {
    padding: 7px;
    margin-left: 31px;
}

.controls .username {
    font-size: 14px;
    margin: 0 0 0 22px;
}


#edit-to.form-item {
    margin-bottom: 11px;
}

label {
    color: inherit;
    text-transform: none;
    margin: 0;
	font-size: 10px;
	font-weight: 400;
	line-height: 1.5;
}

/* Tabs */

.nav-tabs > li > a {
    line-height: 45px;
    font-size: 13px;
    text-transform: uppercase;
    padding: 5px 27px;
    border: 0;
    color: #555;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    border-color: #fff;
    border-bottom: 3px solid;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #fff;
    border-bottom: 3px solid;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    color: #555555;
    background-color: #ffffff;
    border: 0px solid #ddd;
    border-bottom: 3px solid;

}

.fileUpload {
    position: relative;
    overflow: hidden;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0; transform: scale(.9);
    filter: alpha(opacity=0);
}







/* Tabs */

.nav-tabs > li > a {
    line-height: 45px;
    font-size: 13px;
    text-transform: uppercase;
    padding: 5px 27px;
    border: 0;
    color: #555;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    border-color: #fff;
    border-bottom: 3px solid;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #fff;
    border-bottom: 3px solid;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    color: #555555;
    background-color: #ffffff;
    border: 0px solid #ddd;
    border-bottom: 3px solid;

}



/* Tables */

table th {
    font-weight: 400 !important;
    font-size: 15px !important;
    padding: 20px 0 !important;
}

/* Forum */

#forum table th, #forum table td {
    padding: 20px 9px !important;
    /* vertical-align: top; */
}

#forum table td.topics,
#forum table td.posts,
#forum table td.replies,
#forum table#forum-topic-5 td.last-reply {
    font-size: 23px;
    line-height: 15px;
    color: #C2C2C2;
    text-align: center;
}

#forum table td.topics a,
#forum table td.posts a,
#forum table td.replies a,
#forum table#forum-topic-5 td.last-reply a {
    font-size: 12px;
    color: #039200;
}

#forum table#forum-0 tr th,
#forum table#forum-topic-5 tr th {
    color: #555;
    font-size: 13px;
    line-height: 25px;
    font-weight: normal;
    border-bottom: 3px solid #CCC;

}

#forum table#forum-0 tr td .name a,
#forum table#forum-topic-5 tr td.title a {
    font-size: 20px;
}

#forum table#forum-topic-5 tr th {
    text-align: center;
}

#forum table#forum-topic-5 tr td.title .username {
    font-size: 14px !important;
}

.field-type-taxonomy-term-reference a {
    background-color: #fff;
    font-size: 23px !important;
    line-height: 43px;
    text-shadow: none;
    padding: 3px 0;

}

/* Support */

/* Create new ticket button */
#support-page-form > div:nth-child(1) > a:nth-child(1),
ul.action-links li a {
    color: #fff;
    background-color: #545454;
    border-color: transparent;
    text-shadow: none;
    float: left;
    padding: 17px 29px 17px 57px;
    margin-bottom: 22px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 0px solid transparent;
    border-radius: 2px;
    position: relative;
}

/*replace the content value with the
corresponding value from the list below*/

#support-page-form > div:nth-child(1) > a:nth-child(1):before,
ul.action-links li a:before {
    content: "\f055";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #fff;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 15px;
    left: 29px;
}

ul.action-links {
    margin-left: 0;
}


table th a {
    color: #555;
    font-size: 13px;
    /*line-height: 50px;*/
}

.support tr {
    border-bottom: 1px solid #ccc;
}


/* ----------------------------------------------------------------
   Btns
-----------------------------------------------------------------*/

.btn {
    display: inline-block;
	position: relative;
    padding: 8px 24px;
    margin-bottom: 0;
    font-size: 16px !important;
    font-weight: 400 !important;
    text-transform: none;
	text-shadow: none !important;
	box-shadow: none !important;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px !important;
    border: solid 1px #f26522 !important;
    color: #fff !important;
	background-color: #f26522 !important;
	background-image: none !important;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	transition: color .3s, background-color .3s, border-color .3s !important;
}

/* Botão hover */
.btn:hover,
.btn:focus {
	border-color: #f69262 !important;
	background-color: #f69262 !important;
}

/*Botão secundário */
.btn-secondary {
	color: #f26522 !important;
	background-color: transparent !important;
}

/*Botão secundário hover */
.btn-secondary:hover,
.btn-secondary:focus {
	color: #f69262 !important;
	background-color: transparent !important;
	border-color: #f69262;
}


/* Botão grande */
.btn-big {
	font-size: 20px !important;
	padding: 12px 32px;
}



/* Structure */

#admin-menu {
    box-shadow: none;
}


.stretched .content-wrap {
    box-shadow: none !important;
}

/* Page Title */

.stretched #page-title {
    box-shadow: none;
    border-bottom: 0;
}

#page-title h1 {
	font-size: 46px;
    color: #011e41;
    text-shadow: none;
    text-transform: none;
	margin: 0;
    padding: 0;
    text-align: center;
}


.stretched #page-title {
    background-color: transparent;
    box-shadow: none;
    border: 0;
    margin: 0;
	padding: 60px 0;
}


/* Footer */

#footer.footer-dark {
    display: none;
}

/*.signup-yellow-box {*/
/*background: #fdc728;*/
/*padding: 0 0 0 100px;*/
/*margin-left: -100px;*/
/*z-index: 0;*/
/*}*/

/*.signup-yellow-box p {*/
/*font-size: 13px;*/
/*text-shadow: none;*/
/*line-height: 1.2;*/
/*margin: 22px 0 23px 0;*/
/*}*/

/* First Menu */

#top-bar {
    height: 40px;
}

.logged-in-menu a {
    border-right: 0;
    float: left;
    font-size: 12px;
    height: 40px;
    line-height: 43px;
    padding: 0 9px;
    text-transform: uppercase;
}

.logged-in-menu i {
    margin-right: 5px;
}
.logged-in-menu br {
    display: none;
}

/* editor FullHTML do Drupal insere <br> extras. */



/* Logo */

#logo {
	display: flex;
	align-items: center;
    position: relative;
    float: left;
	width: 200px;
    height: 80px;
}

#logo a.standard-logo {
    display: table-cell;
    vertical-align: middle;
}


/* --------------- */
/* Footer (rodapé) */
/* --------------- */

#copyrights {
    padding: 0;
}

#copyrights.copyrights-dark p {
    text-shadow: none;
}


#copyrights.copyrights-dark {
    border: 0;
    height: fit-content;
	background-color: #f26522;
	text-shadow: none;
}

#copyrights .block .content a {
	display: inherit;
	margin: initial;
}


#copyrights .block .content a,
#copyrights .block .content .footer-menu ul li ul li a {
    border: 0;
}

#copyrights .last-footer div {
    float: left;
}

/* Components*/

.cp-bullet-number{
    width: 85px;
    height: 85px;
    border-radius: 170px;
    color: #F2F4F6;
    text-align: center;
    font-weight: bold;
    line-height: 18px;
    margin: 0 auto;
    background: #00BCD4;
}

.cp-bullet-number p {
    margin: 0;
    color: #fff;
    font-size: 50px;
    line-height: 81px;
}


/* Signup */

.password-parent {
    width: 46.3em;
}

/* USER ACCOUNT */

.profile .field-label,
.profile dt {
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 21px;
}

.profile dl,
.profile dd {
    margin: 0
}

.profile a {
    position: relative;
}


.profile a:before {
    content: "\f138";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    margin-right: 8px;
    text-decoration: inherit;
}


.profile a:hover {
    text-decoration: underline;
}

.profile h3 {
    font-size: 23px;
    font-weight: 700;
    margin: 10px 0 20px;
    padding: 10px 0;
}

.profile .field-item {
    font-size: 44px;
    margin: 21px 0 40px;
    font-weight: 400;
}

.documentation i {
    font-size: 80px;
    line-height: 110px;
}

.documentation h2 {
    padding: 0 0 6px 0;
}

.documentation p {
    margin-bottom: 10px;
}


/* FAQ */

.acctitle, .acctitlec {
    font-size: 26px;
    font-weight: normal;
    padding: 32px 0 32px 32px;

}

/* Top Menu */

#top-menu li {
    float: left;
    margin-left: 0;
    height: 40px;
    text-shadow: none;
}

#top-menu .display-username {
    overflow: hidden;
    text-shadow: none !important;
}

#top-menu .display-username ul li {
    float: left;
}

#top-menu p {
    font-size: 16px;
    margin-top: 10px;
    font-weight: 400;
}

/*.content-teasers {
    padding: 15px;
    background-color: #fff;
    text-align: center;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
} */

.content-teasers {
    position: relative;
}

.content-teasers .content-divisor-1 {
    position: absolute;
    left: 32%;
    top: 28%;
}

.content-teasers .content-divisor-2 {
    position: absolute;
    left: 66%;
    top: 28%;
}

.content-teasers h2 {
    font-size: 23px;
    font-weight: 400;

}



/* MEDIA QUERIES */

@media(max-width:1022px){
    .numbered-tiles li {
        float: none;
    }
    .numbered-tiles .single-tile {
        width: 100%;
    }

    .numbered-tiles .single-tile .arrow-blue,
    .numbered-tiles .single-tile .arrow-yellow {
        display: none;
    }
}


/* Components II */

.signup-arrow {
    background: #3a3839;
    color: #fff;
    margin: 0;
    line-height: 1.3;
    font-size: 21px;
    padding: 32px 10px 31px 31px;
    position: relative;
    margin-right: 34px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    z-index: 2;
}

.signup-arrow:after {
    content: '';
    position: absolute;
    top: 0;
    right: -34px;
    -webkit-transform: rotate(360deg);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 45px 0 45px 34px;
    border-color: transparent transparent transparent #3a3839;
    z-index: 2;

}

/* Code box */

.code-box {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f9f9f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    font-family: Menlo, Monaco, Consolas, "Courier New";
}

/* Call-to-action */

.call-to-action {
    background: #eeeeee;
    border-left: 0;
    border-radius: 3px;
    padding: 46px 0 30px 41px;
    position: relative;
    margin: 60px 0 22px 0;
}

.call-to-action .col_1 {
    padding-right: 246px;
}

.call-to-action .col_2 {
    position: absolute;
    right: 45px;
    top: 45%;
    margin-top: -19px;
    max-width: 236px;
}

.call-to-action p {
    color: #706f6f;
    font-size: 16px;
}


.call-to-action h3 {
    color: #011e41;
    font-size: 17px;
    font-weight: normal;
    line-height: 26px;
    padding-bottom: 6px;
    text-shadow: none;
}



/* Swagger */

.resource h2 {
    font-size: 14px;
    line-height: 1.2;
    margin-top: 16px;
}

body ul#resources li.resource div.heading {
    margin-top: 7px;
    padding: 15px;
}



/* Blog */
figure.post-img {
    max-width: 714px;
}

.icon-picture {
    display: none;
}

h1.largeTitle {
    display: none;
}






/* estilos para o block_menu sitemap, colocado no footer */
#footer .region ul.menu li {
    background-color: red;
    background: url("/api-portal/sites/all/themes/coworker/images/icons/footer-link.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    color: #ccc;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    font-size: 13px;
    padding: 3px 3px 3px 10px;
}

#footer .region ul.menu li a { text-decoration: none; }
#footer .region ul.menu li i { display: none; }
#footer.footer-dark .region ul.menu li a { border-bottom-width: 0; }

/* ajusta o icone do google+ */
#top-social li.ts-gplus .ts-icon {
    background: url("/api-portal/sites/default/files/images/icon_G%2B.png") no-repeat center center;
}

/* Estilos para a tabela de forum */
#forum table {
    background-color: rgba(0, 0, 0, 0);
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;
}

#forum table thead th {
    vertical-align: bottom;
}

#forum table th {
    font-weight: bold;
}

#forum table th,
#forum table td {
    border-top: 1px solid #DDDDDD;
    line-height: 20px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}

#forum table caption + thead tr:first-child th,
#forum table caption + thead tr:first-child td,
#forum table colgroup + thead tr:first-child th,
#forum table colgroup + thead tr:first-child td,
#forum table thead:first-child tr:first-child th,
#forum table thead:first-child tr:first-child td {
    border-top: 0 none;
}

ul.action-links {
    max-width: 100%;
}

/* Aplica o estilo apenas no browser Firefox */
html> /**/body ul.action-links, x:-moz-any-link, x:default {
    margin-bottom: 45px;
}


ul.links li.comment-delete a,
ul.links li.comment-edit a,
ul.links li.comment-reply a,
a.fieldset-title {
    background-color: #FFFFFF;
    border-color: #CCCCCC;
    color: #333333;
    border: 1px solid #BBBBBB;
    padding: 2px 5px 2px 5px;
    float: left;
}

ul.links li.comment-delete a:hover,
ul.links li.comment-edit a:hover,
ul.links li.comment-reply a:hover,
a.fieldset-title:hover {
    background-color: #EBEBEB;
    border-color: #ADADAD;
    color: #333333;
}

a.fieldset-title {
    margin-bottom: 5px;
}

ul.links li.comment-edit a:active,
ul.links li.comment-delete a:active,
ul.links li.comment-reply a:active,
a.fieldset-title:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}

ul.links li.comment-edit a {
    border-right: none;
    border-left: none;
}

ul.links li.comment-delete a {
    border-radius: 5px 0px 0px 5px;
}

ul.links li.comment-reply a {
    border-radius: 0px 5px 5px 0px;
}

ul.links li.comment-reply:first-child:last-child a,
a.fieldset-title {
    border-radius: 5px;
}

div.field-item[rel="sioc:has_container"] a {
    float: none;
    width: 15%;
    display: inline;
}


/* ----------------------------------------------------------------
   Swagger
-----------------------------------------------------------------*/

#Orders_endpoint_list {
    display: block;
}


body ul#resources li.resource div.heading h2 a {
    color: #512DA8;
}

body ul#resources li.resource div.heading h2 a:hover {
    color: #011e41 !important;
    text-decoration: underline;
}

body ul#resources li.resource div.heading {
    background: #f5f5f5;
}

.resource h2 {
    font-size: 14px;
    line-height: 1.2;
    margin-top: 16px;
}

body ul#resources li.resource div.heading {
    margin-top: 7px;
    padding: 15px;
}

.swagger-ui-wrap a {
    font-size: 16px;
}

.swagger-ui-wrap div.heading h3 {
    font-size: 22px;
}

/* Blog */

.entry_c i {
    color: #4f723d;
}

.entry_date div.day, .entry_date div.month {
    background: #4f723d;
}

.icon-picture {
    color: #fff;
}


/* ------------------- */
/*  Dev Dashboard Fix  */
/* ------------------- */

.page-devdashboard .graph {
	width: auto !important;
	margin-left: 15px;
}


/* ----------------- */
/* Content expandido */
/* ----------------- */

#content { min-height: calc(100vh - 166px) }

body.admin-menu #content { min-height: calc(100vh - 195px) }


/* ---------------------------- */
/* Container expandido (1200px) */
/* ---------------------------- */

#wrapper { width: 100% !important }

@media only screen and (min-width: 1200px) {
	.container {
		width: 80%;
		max-width: 1200px;
	}
}

@media only screen and (max-width: 479px) {
	.container { width: calc(100% - 60px) }
}


/* --------------------------------------------------- */
/* LANGUAGE BUTTONS (botões de idioma fixados ao lado) */
/* --------------------------------------------------- */

#top-bar { height: 0 }

ul.language-switcher-locale-url {
	display: flex !important;
	flex-direction: column;
	position: fixed;
	left: 0;
	top: calc(50% - 40px);
	background-color: #f26522;
	margin: 0;
	padding: 10px 8px 0 6px;
	border: none;
	border-left: none;
	border-radius: 0 5px 5px 0;
	z-index: 9999;
}

ul.language-switcher-locale-url li {
	width: 25px;
	height: 18px !important;
	margin-bottom: 10px;
	border: 2px solid transparent;
	border-radius: 2px;
	background-repeat: no-repeat;
	background-position: center;
	box-sizing: content-box;
	transition: border-color .3s ease;
}

ul.language-switcher-locale-url li:hover { border-color: rgba(255,255,255,.4) }

ul.language-switcher-locale-url li.pt-br { background-image: url('/api-portal/sites/default/files/images/pt-br.png') }

ul.language-switcher-locale-url li.en { background-image: url('/api-portal/sites/default/files/images/en.png') }

ul.language-switcher-locale-url li.es { background-image: url('/api-portal/sites/default/files/images/peru.png') }

ul.language-switcher-locale-url li a {
	display: block;
	font-size: 0px !important;
	margin: 0 !important;
	width: 25px;
	height: 18px;
	border: none !important;
}

ul.language-switcher-locale-url li a img { visibility: hidden }


/* ------- */
/* PADDING */
/* ------- */

/* padding 5 */
.p-5 { padding: 5px }
.p-t-5 { padding-top: 5px }
.p-r-5 { padding-right: 5px }
.p-b-5 { padding-bottom: 5px }
.p-l-5 { padding-left: 5px }
.p-v-5 { padding-top: 5px; padding-bottom: 5px }
.p-h-5 { padding-left: 5px; padding-right: 5px }

/* padding 10 */
.p-10 { padding: 10px }
.p-t-10 { padding-top: 10px }
.p-r-10 { padding-right: 10px }
.p-b-10 { padding-bottom: 10px }
.p-l-10 { padding-left: 10px }
.p-v-10 { padding-top: 10px; padding-bottom: 10px }
.p-h-10 { padding-left: 10px; padding-right: 10px }

/* padding 15 */
.p-15 { padding: 15px }
.p-t-15 { padding-top: 15px }
.p-r-15 { padding-right: 15px }
.p-b-15 { padding-bottom: 15px }
.p-l-15 { padding-left: 15px }
.p-v-15 { padding-top: 15px; padding-bottom: 15px }
.p-h-15 { padding-left: 15px; padding-right: 15px }

/* padding 20 */
.p-20 { padding: 20px }
.p-t-20 { padding-top: 20px }
.p-r-20 { padding-right: 20px }
.p-b-20 { padding-bottom: 20px }
.p-l-20 { padding-left: 20px }
.p-v-20 { padding-top: 20px; padding-bottom: 20px }
.p-h-20 { padding-left: 20px; padding-right: 20px }

/* padding 25 */
.p-25 { padding: 25px }
.p-t-25 { padding-top: 25px }
.p-r-25 { padding-right: 25px }
.p-b-25 { padding-bottom: 25px }
.p-l-25 { padding-left: 25px }
.p-v-25 { padding-top: 25px; padding-bottom: 25px }
.p-h-25 { padding-left: 25px; padding-right: 25px }

/* padding 30 */
.p-30 { padding: 30px }
.p-t-30 { padding-top: 30px }
.p-r-30 { padding-right: 30px }
.p-b-30 { padding-bottom: 30px }
.p-l-30 { padding-left: 30px }
.p-v-30 { padding-top: 30px; padding-bottom: 30px }
.p-h-30 { padding-left: 30px; padding-right: 30px }

/* padding 35 */
.p-35 { padding: 35px }
.p-t-35 { padding-top: 35px }
.p-r-35 { padding-right: 35px }
.p-b-35 { padding-bottom: 35px }
.p-l-35 { padding-left: 35px }
.p-v-35 { padding-top: 35px; padding-bottom: 35px }
.p-h-35 { padding-left: 35px; padding-right: 35px }

/* padding 40 */
.p-40 { padding: 40px }
.p-t-40 { padding-top: 40px }
.p-r-40 { padding-right: 40px }
.p-b-40 { padding-bottom: 40px }
.p-l-40 { padding-left: 40px }
.p-v-40 { padding-top: 40px; padding-bottom: 40px }
.p-h-40 { padding-left: 40px; padding-right: 40px }

/* padding 45 */
.p-45 { padding: 45px }
.p-t-45 { padding-top: 45px }
.p-r-45 { padding-right: 45px }
.p-b-45 { padding-bottom: 45px }
.p-l-45 { padding-left: 45px }
.p-v-45 { padding-top: 50px; padding-bottom: 50px }
.p-h-45 { padding-left: 50px; padding-right: 50px }

/* padding 50 */
.p-50 { padding: 50px }
.p-t-50 { padding-top: 50px }
.p-r-50 { padding-right: 50px }
.p-b-50 { padding-bottom: 50px }
.p-l-50 { padding-left: 50px }
.p-v-50 { padding-top: 50px; padding-bottom: 50px }
.p-h-50 { padding-left: 50px; padding-right: 50px }

/* padding 55 */
.p-55 { padding: 55px }
.p-t-55 { padding-top: 55px }
.p-r-55 { padding-right: 55px }
.p-b-55 { padding-bottom: 55px }
.p-l-55 { padding-left: 55px }
.p-v-55 { padding-top: 55px; padding-bottom: 55px }
.p-h-55 { padding-left: 55px; padding-right: 55px }

/* padding 60 */
.p-60 { padding: 60px }
.p-t-60 { padding-top: 60px }
.p-r-60 { padding-right: 60px }
.p-b-60 { padding-bottom: 60px }
.p-l-60 { padding-left: 60px }
.p-v-60 { padding-top: 60px; padding-bottom: 60px }
.p-h-60 { padding-left: 60px; padding-right: 60px }

/* padding 65 */
.p-65 { padding: 65px }
.p-t-65 { padding-top: 65px }
.p-r-65 { padding-right: 65px }
.p-b-65 { padding-bottom: 65px }
.p-l-65 { padding-left: 65px }
.p-v-65 { padding-top: 65px; padding-bottom: 65px }
.p-h-65 { padding-left: 65px; padding-right: 65px }

/* padding 70 */
.p-70 { padding: 70px }
.p-t-70 { padding-top: 70px }
.p-r-70 { padding-right: 70px }
.p-b-70 { padding-bottom: 70px }
.p-l-70 { padding-left: 70px }
.p-v-70 { padding-top: 70px; padding-bottom: 70px }
.p-h-70 { padding-left: 70px; padding-right: 70px }

/* padding 75 */
.p-75 { padding: 75px }
.p-t-75 { padding-top: 75px }
.p-r-75 { padding-right: 75px }
.p-b-75 { padding-bottom: 75px }
.p-l-75 { padding-left: 75px }
.p-v-75 { padding-top: 75px; padding-bottom: 75px }
.p-h-75 { padding-left: 75px; padding-right: 75px }

/* padding 80 */
.p-80 { padding: 80px }
.p-t-80 { padding-top: 80px }
.p-r-80 { padding-right: 80px }
.p-b-80 { padding-bottom: 80px }
.p-l-80 { padding-left: 80px }
.p-v-80 { padding-top: 80px; padding-bottom: 80px }
.p-h-80 { padding-left: 80px; padding-right: 80px }

/* padding 85 */
.p-85 { padding: 85px }
.p-t-85 { padding-top: 85px }
.p-r-85 { padding-right: 85px }
.p-b-85 { padding-bottom: 85px }
.p-l-85 { padding-left: 85px }
.p-v-85 { padding-top: 85px; padding-bottom: 85px }
.p-h-85 { padding-left: 85px; padding-right: 85px }

/* padding 90 */
.p-90 { padding: 90px }
.p-t-90 { padding-top: 90px }
.p-r-90 { padding-right: 90px }
.p-b-90 { padding-bottom: 90px }
.p-l-90 { padding-left: 90px }
.p-v-90 { padding-top: 90px; padding-bottom: 90px }
.p-h-90 { padding-left: 90px; padding-right: 90px }

/* padding 95 */
.p-95 { padding: 95px }
.p-t-95 { padding-top: 95px }
.p-r-95 { padding-right: 95px }
.p-b-95 { padding-bottom: 95px }
.p-l-95 { padding-left: 95px }
.p-v-95 { padding-top: 95px; padding-bottom: 95px }
.p-h-95 { padding-left: 95px; padding-right: 95px }

/* padding 100 */
.p-100 { padding: 100px }
.p-t-100 { padding-top: 100px }
.p-r-100 { padding-right: 100px }
.p-b-100 { padding-bottom: 100px }
.p-l-100 { padding-left: 100px }
.p-v-100 { padding-top: 100px; padding-bottom: 100px }
.p-h-100 { padding-left: 100px; padding-right: 100px }

/* padding 0 */
.no-p { padding: 0px }
.no-p-t { padding-top: 0px }
.no-p-r { padding-right: 0px }
.no-p-b { padding-bottom: 0px }
.no-p-l { padding-left: 0px }
.no-p-v { padding-top: 0px; padding-bottom: 0px }
.no-p-h { padding-left: 0px; padding-right: 0px }


/* ------ */
/* MARGEM */
/* ------ */

/* margin 5 */
.m-5 { margin: 5px }
.m-t-5 { margin-top: 5px }
.m-r-5 { margin-right: 5px }
.m-b-5 { margin-bottom: 5px }
.m-l-5 { margin-left: 5px }
.m-v-5 { margin-top: 5px; margin-bottom: 5px }
.m-h-5 { margin-left: 5px; margin-right: 5px }

/* margin 10 */
.m-10 { margin: 10px }
.m-t-10 { margin-top: 10px }
.m-r-10 { margin-right: 10px }
.m-b-10 { margin-bottom: 10px }
.m-l-10 { margin-left: 10px }
.m-v-10 { margin-top: 10px; margin-bottom: 10px }
.m-h-10 { margin-left: 10px; margin-right: 10px }

/* margin 15 */
.m-15 { margin: 15px }
.m-t-15 { margin-top: 15px }
.m-r-15 { margin-right: 15px }
.m-b-15 { margin-bottom: 15px }
.m-l-15 { margin-left: 15px }
.m-v-15 { margin-top: 15px; margin-bottom: 15px }
.m-h-15 { margin-left: 15px; margin-right: 15px }

/* margin 20 */
.m-20 { margin: 20px }
.m-t-20 { margin-top: 20px }
.m-r-20 { margin-right: 20px }
.m-b-20 { margin-bottom: 20px }
.m-l-20 { margin-left: 20px }
.m-v-20 { margin-top: 20px; margin-bottom: 20px }
.m-h-20 { margin-left: 20px; margin-right: 20px }

/* margin 25 */
.m-25 { margin: 25px }
.m-t-25 { margin-top: 25px }
.m-r-25 { margin-right: 25px }
.m-b-25 { margin-bottom: 25px }
.m-l-25 { margin-left: 25px }
.m-v-25 { margin-top: 25px; margin-bottom: 25px }
.m-h-25 { margin-left: 25px; margin-right: 25px }

/* margin 30 */
.m-30 { margin: 30px }
.m-t-30 { margin-top: 30px }
.m-r-30 { margin-right: 30px }
.m-b-30 { margin-bottom: 30px }
.m-l-30 { margin-left: 30px }
.m-v-30 { margin-top: 30px; margin-bottom: 30px }
.m-h-30 { margin-left: 30px; margin-right: 30px }

/* margin 35 */
.m-35 { margin: 35px }
.m-t-35 { margin-top: 35px }
.m-r-35 { margin-right: 35px }
.m-b-35 { margin-bottom: 35px }
.m-l-35 { margin-left: 35px }
.m-v-35 { margin-top: 35px; margin-bottom: 35px }
.m-h-35 { margin-left: 35px; margin-right: 35px }

/* margin 40 */
.m-40 { margin: 40px }
.m-t-40 { margin-top: 40px }
.m-r-40 { margin-right: 40px }
.m-b-40 { margin-bottom: 40px }
.m-l-40 { margin-left: 40px }
.m-v-40 { margin-top: 40px; margin-bottom: 40px }
.m-h-40 { margin-left: 40px; margin-right: 40px }

/* margin 45 */
.m-45 { margin: 45px }
.m-t-45 { margin-top: 45px }
.m-r-45 { margin-right: 45px }
.m-b-45 { margin-bottom: 45px }
.m-l-45 { margin-left: 45px }
.m-v-45 { margin-top: 50px; margin-bottom: 50px }
.m-h-45 { margin-left: 50px; margin-right: 50px }

/* margin 50 */
.m-50 { margin: 50px }
.m-t-50 { margin-top: 50px }
.m-r-50 { margin-right: 50px }
.m-b-50 { margin-bottom: 50px }
.m-l-50 { margin-left: 50px }
.m-v-50 { margin-top: 50px; margin-bottom: 50px }
.m-h-50 { margin-left: 50px; margin-right: 50px }

/* margin 55 */
.m-55 { margin: 55px }
.m-t-55 { margin-top: 55px }
.m-r-55 { margin-right: 55px }
.m-b-55 { margin-bottom: 55px }
.m-l-55 { margin-left: 55px }
.m-v-55 { margin-top: 55px; margin-bottom: 55px }
.m-h-55 { margin-left: 55px; margin-right: 55px }

/* margin 60 */
.m-60 { margin: 60px }
.m-t-60 { margin-top: 60px }
.m-r-60 { margin-right: 60px }
.m-b-60 { margin-bottom: 60px }
.m-l-60 { margin-left: 60px }
.m-v-60 { margin-top: 60px; margin-bottom: 60px }
.m-h-60 { margin-left: 60px; margin-right: 60px }

/* margin 65 */
.m-65 { margin: 65px }
.m-t-65 { margin-top: 65px }
.m-r-65 { margin-right: 65px }
.m-b-65 { margin-bottom: 65px }
.m-l-65 { margin-left: 65px }
.m-v-65 { margin-top: 65px; margin-bottom: 65px }
.m-h-65 { margin-left: 65px; margin-right: 65px }

/* margin 70 */
.m-70 { margin: 70px }
.m-t-70 { margin-top: 70px }
.m-r-70 { margin-right: 70px }
.m-b-70 { margin-bottom: 70px }
.m-l-70 { margin-left: 70px }
.m-v-70 { margin-top: 70px; margin-bottom: 70px }
.m-h-70 { margin-left: 70px; margin-right: 70px }

/* margin 75 */
.m-75 { margin: 75px }
.m-t-75 { margin-top: 75px }
.m-r-75 { margin-right: 75px }
.m-b-75 { margin-bottom: 75px }
.m-l-75 { margin-left: 75px }
.m-v-75 { margin-top: 75px; margin-bottom: 75px }
.m-h-75 { margin-left: 75px; margin-right: 75px }

/* margin 80 */
.m-80 { margin: 80px }
.m-t-80 { margin-top: 80px }
.m-r-80 { margin-right: 80px }
.m-b-80 { margin-bottom: 80px }
.m-l-80 { margin-left: 80px }
.m-v-80 { margin-top: 80px; margin-bottom: 80px }
.m-h-80 { margin-left: 80px; margin-right: 80px }

/* margin 85 */
.m-85 { margin: 85px }
.m-t-85 { margin-top: 85px }
.m-r-85 { margin-right: 85px }
.m-b-85 { margin-bottom: 85px }
.m-l-85 { margin-left: 85px }
.m-v-85 { margin-top: 85px; margin-bottom: 85px }
.m-h-85 { margin-left: 85px; margin-right: 85px }

/* margin 90 */
.m-90 { margin: 90px }
.m-t-90 { margin-top: 90px }
.m-r-90 { margin-right: 90px }
.m-b-90 { margin-bottom: 90px }
.m-l-90 { margin-left: 90px }
.m-v-90 { margin-top: 90px; margin-bottom: 90px }
.m-h-90 { margin-left: 90px; margin-right: 90px }

/* margin 95 */
.m-95 { margin: 95px }
.m-t-95 { margin-top: 95px }
.m-r-95 { margin-right: 95px }
.m-b-95 { margin-bottom: 95px }
.m-l-95 { margin-left: 95px }
.m-v-95 { margin-top: 95px; margin-bottom: 95px }
.m-h-95 { margin-left: 95px; margin-right: 95px }

/* margin 100 */
.m-100 { margin: 100px }
.m-t-100 { margin-top: 100px }
.m-r-100 { margin-right: 100px }
.m-b-100 { margin-bottom: 100px }
.m-l-100 { margin-left: 100px }
.m-v-100 { margin-top: 100px; margin-bottom: 100px }
.m-h-100 { margin-left: 100px; margin-right: 100px }

/* margin 0 */
.no-m, .m-0 { margin: 0px }
.no-m-t, .m-t-0 { margin-top: 0px }
.no-m-r, .m-r-0 { margin-right: 0px }
.no-m-b, .m-b-0 { margin-bottom: 0px }
.no-m-l, .m-l-0 { margin-left: 0px }
.no-m-v, .m-v-0 { margin-top: 0px; margin-bottom: 0px }
.no-m-h, .m-h-0 { margin-left: 0px; margin-right: 0px }

/* margin auto */
.m-auto { margin: auto }
.m-t-auto { margin-top: auto }
.m-r-auto { margin-right: auto }
.m-b-auto { margin-bottom: auto }
.m-l-auto { margin-left: auto }
.m-v-auto { margin-top: auto; margin-bottom: auto }
.m-h-auto { margin-left: auto; margin-right: auto }


/* ------------------------------ */
/* Fade fix (mensagens de alerta) */
/* ------------------------------ */

.alert.fade:not(.show) { opacity: 1; transform: scale(1) }


/* --------------------------------- */
/* Manter a cor original da tag span */
/* --------------------------------- */

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span { color: inherit }


/* ------------------ */
/* Conteúdo expandido */
/* ------------------ */

.expanded {
	position: relative;
	width: 100vw;
	left: calc(50% - 50vw);
}


/* ---------------------- */
/* Esconder tag de idioma */
/* ---------------------- */

.content .form-item.control-group.form-type-item { display: none }


/* ---------------------- */
/* Evitar quebra de linha */
/* ---------------------- */

.no-break { white-space: nowrap }


/* ---------------------------- */
/* login e cadastro (page-user) */
/* ---------------------------- */

.page-user .control-label {
	font-size: 16px;
}

.page-user .description.help-block {
	font-size: 12px;
	color: #636e79;
	margin: 0
}

.page-user .form-item { margin: 0 0 30px }

.page-user label.checkbox {
	font-size: 12px;
	margin-right: 10px;
}

.page-user label.checkbox input { margin-right: 2px }

.captcha { margin-bottom: 20px }


/* ------------- */
/* Hero (slider) */
/* ------------- */

.slider-line { border: none }

.hero {
	position: relative;
	width: 100%;
	height: calc(100vh - 80px);
	min-height: 480px;
	background-color: #f8a882;
}

.hero .hero-content {
	z-index: 2;
	animation: hero-animation-2 2s;
}

@keyframes hero-animation {
	0% { opacity: 0; transform: translateY(50px); }
	50% { opacity: 0; transform: translateY(50px); }
	100% { opacity: 1; transform: translateY(0px); }
}

@media only screen and (min-width: 992px) {
	.hero {
		clip-path: ellipse(90% 100% at 50% 0);
	}
}


/* ---------------------- */
/* Sidebar (menu lateral) */
/* ---------------------- */

.postcontent {
	width: 100%;
	padding-bottom: 80px;
}

#sidebar-first { display: none }

@media only screen and (min-width: 980px) {
	.postcontent { width: calc(100% - 280px) }
	#sidebar-first {
		display: block;
		width: 240px;
		margin-right: 40px;
	}
}


/* ----- */
/*  FAQ  */
/* ----- */

.faq-question {
	position: relative;
	border-bottom: solid 1px #bebebe;
}

.faq-question:last-child { border: none }

.faq-question h4 {
	margin: 0;
	padding: 10px 20px;
	font-weight: 400;
	color: #f26522;
	transition: color .3s;
}

.faq-question a.collapsed h4 {
	color: #3c3c3c;
}

.faq-question h4::after {
	content: '\f077';
	font-family: "Font Awesome 5 Free";
	font-weight: 700;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	color: #f26522;
	background-color: #f5f5f5;
	width: 32px;
	height: 32px;
	position: absolute;
	right: 16px;
	top: 12px;
	transition: transform .3s;
}

.faq-question a.collapsed h4::after {
	transform: rotate(180deg);
}

.faq-question p {
	margin: 0;
	padding: 10px 20px;
}


/* ---------------- */
/*   DOCUMENTAÇÃO   */
/* ---------------- */

.node-type-documentation h1,
.node-type-documentation h2,
.node-type-documentation h3,
.node-type-documentation h4 {
	margin-bottom: 10px;
	padding-bottom: 0;
}

.node-type-documentation .content h1 {
	padding-top: 20px;
	border-top: solid 1px #bbb;
}

.node-type-documentation .content h1:first-child {
	border: none;
	margin-top: -20px;
}

.node-type-documentation .content h2 {
	padding-top: 20px;
	margin-top: -10px;
}

.node-type-documentation .content code {
	word-break: break-word;
}

.node-type-documentation .content ul li {
	font-size: 15px;
}

.node-type-documentation #page-title .col_two_fifth {
	width: 100%;
	text-align: center;
}

.node-type-documentation #page-title .col_three_fifth.col_last { display: none; }

.node-type-documentation #page-title * { margin-bottom: 0 }


/* ------------------------------- */
/*   DOCUMENTAÇÃO - MENU LATERAL   */
/* ------------------------------- */

.node-type-documentation .side-menu {
	margin: 0 0 20px;
	width: 240px;
	overflow-y: auto;
}

.node-type-documentation .side-menu ul { margin: 0 0 20px; }

.node-type-documentation .side-menu.affix {
	top: 78px;
	position: fixed;
}

.node-type-documentation .side-menu a {
	display: block;
	line-height: 1;
	padding: 10px;
	cursor: pointer;
	text-decoration: underline;
	text-decoration-color: transparent;
	transition: color .3s, text-decoration-color .3s;
}

.node-type-documentation .side-menu a.section {
	color: #2d3e5b;
	font-size: 15px;
	font-weight: 700;
}

.node-type-documentation .side-menu a.sub-section {
	color: #6b778c;
	font-size: 13px;
	font-weight: 400;
	margin: 0 0 0 15px;
}

.node-type-documentation .side-menu a.section + a.sub-section {
	margin-top: -6px;
}

.node-type-documentation .side-menu a.active { color: #f26522; }

.node-type-documentation .side-menu a:hover { text-decoration-color: #2d3e5b; }

.node-type-documentation .side-menu a.active:hover { text-decoration-color: #f26522; }


/* ----- */
/* Cards */
/* ----- */

.card {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto 40px;
	padding: 20px;
	border: none;
	text-align: center;
	border-radius: 10px;
	width: 320px;
	max-width: 100%;
	box-shadow: 0 6px 30px rgba(0, 0, 0, .08);
	background-color: #fff;
}

.card * { color: #041e50 }

a.card {
	transition: transform .5s, box-shadow .5s;
}

a.card:hover,
a.card:focus {
	transform: translateY(-6px);
	box-shadow: 0 12px 30px rgba(0, 0, 0, .08);
}
.card > img {
	height: 140px;
	margin-bottom: 20px;
}

.card-icon {
	font-size: 54px;
	color: #f26522;
}

/* Arrumar Coluna Esprimida no API Browser  */
.swagger-ui .col { width: auto }